.greeting {
  padding-left: 2%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.greeting .swiss_header {
  font-size: 128px;
  color: #4e4e4e;
  margin: center;
}
.greeting .greet {
  font-size: 50px;
  color: #A8A8A8;
  text-align: left;
}
@media (max-width: 670px) {
  .greeting {
    padding-left: 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .greeting .swiss_header {
    font-size: 50px;
    color: #4e4e4e;
    margin: center;
  }
  .greeting .greet {
    font-size: 20px;
    color: #A8A8A8;
    text-align: left;
  }
}
