.form {
  padding-left: 2%;
}
.form input[type=text],
.form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form button {
  background-color: #E44A4A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
.form button:hover {
  opacity: 0.8;
}
.form .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.form img.avatar {
  width: 40%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.form .container {
  padding: 16px;
}
.form span.psw {
  float: right;
  padding-top: 16px;
}
.form .cancel_container {
  padding: 16px;
  background-color: #f1f1f1;
}
.form .modal {
  font-size: 20px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.form .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
.form .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.form .close:hover,
.form .close:focus {
  color: red;
  cursor: pointer;
}
.form .animate {
  -webkit-animation: animatezoom 0.6s;
          animation: animatezoom 0.6s;
}
