.repeation {
  padding-top: 200px;
  padding-left: 2%;
}
.repeation_block {
  width: 90%;
  border: #B3B3B3 solid 2px;
}
.repeation .blockSingle {
  padding-bottom: 20px;
}
.repeation textarea {
  width: 98%;
}
.repeation .description {
  text-align: center;
  padding-bottom: 20px;
}
.repeation button.title {
  left: 0px;
  font-size: 20px;
  color: #191919;
  background: white;
  border-color: white;
  cursor: pointer;
}
.repeation button.remove {
  left: 95%;
  font-size: 20px;
  color: #191919;
  background: white;
  border-color: white;
  cursor: pointer;
}
.repeation .container {
  margin-left: 0;
}
