.quote {
  background-color: #E44A4A;
  color: white;
  padding-left: 2%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.quote_content {
  font-style: italic;
  font-size: 20px;
}
.quote_author {
  font-size: 30px;
}
@media (max-width: 670px) {
  .quote_author {
    font-size: 20px;
  }
  .quote_content {
    font-size: 15px;
  }
}
