.wrapet {
  width: 2832px;
  max-width: 100%;
  margin: 0 auto;
}
header {
  padding-left: 2%;
  font: "HelveticaNeue";
  height: 900px;
  border-top: 10px solid red;
}
header nav {
  font-size: 38px;
  display: inline;
}
header li {
  float: left;
  list-style-type: none;
  margin-right: 10%;
}
header a {
  left: 558px;
  top: 98.499px;
  text-decoration: none;
  color: #a8a8a8;
  font-weight: bold;
}
header a:hover {
  color: #4e4e4e;
  text-decoration: none;
  border-bottom: 4px solid #e44a4a;
}
header .swiss {
  font-size: 128px;
  color: #4e4e4e;
  margin: center;
}
header .hello {
  font-size: 50px;
  color: #A8A8A8;
  line-height: 1.28;
  text-align: left;
}
.image {
  max-width: 100%;
  height: 860px;
}
.hero_image {
  -webkit-filter: brightness(65%);
          filter: brightness(65%);
  position: relative;
}
.hero_image .vista {
  top: 30%;
  left: 50%;
  position: absolute;
  border: 4px solid #ffffff;
  padding: 20px;
  font-family: "HelveticaNeue";
  color: white;
  font-weight: bold;
}
.hero_image .text {
  top: 50%;
  left: 40%;
  position: absolute;
  padding: 20px;
  font-family: "HelveticaNeue";
  color: white;
  font-weight: bold;
}
.hero_image .arrow {
  position: absolute;
  top: 40%;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  color: #fff;
}
.hero_image:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.hero_image .previous {
  left: 0;
}
.hero_image .previous:hover {
  background-position: left bottom;
}
.hero_image .next {
  right: 0;
}
.hero_image .next:hover {
  background-position: right bottom;
}
.text_post {
  font-family: "HelveticaNeue";
  margin: 0 auto;
}
.text_post .header {
  color: #747474;
  font-weight: bold;
  font-size: 30pt;
  display: inline-block;
}
.text_post .comments {
  color: #909090;
}
.text_post .content {
  color: #909090;
  font-size: 20px;
}
.button {
  width: 100px;
  border: 2px solid #747474;
  padding: 20px;
}
.button li {
  list-style-type: none;
}
.button a {
  text-decoration: none;
  color: #747474;
}
.quote {
  background-color: #E44A4A;
  height: 600px;
}
.quote .info {
  font-family: "HelveticaNeue";
  color: white;
}
.quote .content {
  font-size: 30pt;
  font-style: italic;
}
.quote .author {
  font-size: 20pt;
}
.video {
  background-color: #354A5F;
}
.video p {
  font-family: "HelveticaNeue";
  color: white;
}
.video video {
  max-width: 100%;
}
.image {
  height: 1000px;
}
.image .image2 {
  max-width: 100%;
}
.music {
  font-family: "HelveticaNeue";
  color: white;
  background-color: #E44A4A;
  height: 200px;
}
