body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.burger {
  padding-left: 2%;
  border-top: 10px solid red;
}
.burger li {
  font-size: 30px;
  float: left;
  list-style-type: none;
  margin-right: 10%;
}
.burger a {
  left: 558px;
  top: 98.499px;
  text-decoration: none;
  color: #a8a8a8;
  font-weight: bold;
}
.burger a:hover {
  color: #4e4e4e;
  text-decoration: none;
  border-bottom: 4px solid #e44a4a;
}
@media (max-width: 670px) {
  body.open:before {
    visibility: visible;
    opacity: 1;
  }
  body:before {
    content: "";
    position: absolute;
    background-color: #E44A4A;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .burger {
    top: 25px;
    left: 20px;
    font-size: 20px;
  }
  .burger__button {
    display: block;
    background: #E44A4A;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 8px -2px #333;
            box-shadow: 0px 0px 8px -2px #333;
  }
  .burger__button.open {
    border: 2px solid #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .burger__button__icon {
    display: inline-block;
    background: #fff;
    margin: 0 auto;
    width: 20px;
    height: 2px;
    top: 50%;
    margin-top: 24px;
    left: 0;
    right: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  .burger__button__icon:before,
  .burger__button__icon:after {
    content: "";
    position: absolute;
    margin: 0 auto;
    background: #fff;
    width: 20px;
    height: 2px;
    left: 0;
    right: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .burger__button__icon:before {
    bottom: 10px;
  }
  .burger__button__icon:after {
    top: 10px;
  }
  .burger__button.open .burger__button__icon {
    background: transparent;
  }
  .burger__button.open .burger__button__icon:before,
  .burger__button.open .burger__button__icon:after {
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    width: 28.28427125px;
  }
  .burger__button.open .burger__button__icon:before {
    -webkit-transform: rotateZ(0.78539816rad);
        -ms-transform: rotate(0.78539816rad);
            transform: rotateZ(0.78539816rad);
  }
  .burger__button.open .burger__button__icon:after {
    -webkit-transform: rotateZ(-0.78539816rad);
        -ms-transform: rotate(-0.78539816rad);
            transform: rotateZ(-0.78539816rad);
  }
  .burger__menu {
    list-style-type: none;
    padding: 0 0 0 20px;
  }
  .burger__menu li {
    display: block;
    margin: 15px 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  .burger__menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-family: Arial, "san-serif";
    font-weight: normal;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-left: 3px solid transparent;
    padding-left: 0;
  }
  .burger__menu a:hover {
    padding-left: 30px;
    border-left: 3px solid #fff;
  }
  .burger__button.open + .burger__menu li {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }
}
.greeting {
  padding-left: 2%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.greeting .swiss_header {
  font-size: 128px;
  color: #4e4e4e;
  margin: center;
}
.greeting .greet {
  font-size: 50px;
  color: #A8A8A8;
  text-align: left;
}
@media (max-width: 670px) {
  .greeting {
    padding-left: 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .greeting .swiss_header {
    font-size: 50px;
    color: #4e4e4e;
    margin: center;
  }
  .greeting .greet {
    font-size: 20px;
    color: #A8A8A8;
    text-align: left;
  }
}
.slider {
  display: block ;
  min-height: 400px ;
  text-align: center ;
  position: relative ;
}
.arrows {
  position: absolute ;
  width: 90% ;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex ;
  left: 5% ;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 40% ;
  font-size: 3em ;
}
.arrows .prev {
  background: url(../img/Left.png);
  height: 135px ;
  width: 135px ;
}
.arrows .next {
  background: url(../img/Right.png);
  height: 135px ;
  width: 135px;
}
.slide {
  height: 100%;
  width: 90%;
  position: absolute;
  left: 5%;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
.slide.active {
  opacity: 1;
}
.slide-1 {
  background-image: url(../img/18227458_l.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.slide-2 {
  background-image: url(../img/18227458_2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.slide-3 {
  background-image: url(../img/18227458_3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 670px) {
  .slider {
    min-height: 200px ;
  }
  .arrows {
    top: 40% ;
  }
  .arrows .prev {
    background-size: 100% 100%;
    height: 50px ;
    width: 50px;
  }
  .arrows .next {
    background-size: 100% 100%;
    height: 50px ;
    width: 50px;
  }
  .slide {
    height: 100%;
  }
}
.text_post {
  padding-left: 2%;
  color: #909090;
}
.text_post_header {
  color: #747474;
  font-weight: bold;
  font-size: 30px;
}
.text_post_content {
  font-size: 20px;
}
@media (max-width: 670px) {
  .text_post_header {
    font-size: 20px;
  }
  .text_post_content {
    font-size: 15px;
  }
}
.form {
  padding-left: 2%;
}
.form input[type=text],
.form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form button {
  background-color: #E44A4A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
.form button:hover {
  opacity: 0.8;
}
.form .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.form img.avatar {
  width: 40%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.form .container {
  padding: 16px;
}
.form span.psw {
  float: right;
  padding-top: 16px;
}
.form .cancel_container {
  padding: 16px;
  background-color: #f1f1f1;
}
.form .modal {
  font-size: 20px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.form .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
.form .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.form .close:hover,
.form .close:focus {
  color: red;
  cursor: pointer;
}
.form .animate {
  -webkit-animation: animatezoom 0.6s;
          animation: animatezoom 0.6s;
}
.quote {
  background-color: #E44A4A;
  color: white;
  padding-left: 2%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.quote_content {
  font-style: italic;
  font-size: 20px;
}
.quote_author {
  font-size: 30px;
}
@media (max-width: 670px) {
  .quote_author {
    font-size: 20px;
  }
  .quote_content {
    font-size: 15px;
  }
}
.video {
  background-color: #354A5F;
  color: white;
  padding-left: 2%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.video video {
  padding-top: 60px;
  width: 90%;
  min-height: 400px ;
}
@media (max-width: 670px) {
  video {
    min-height: 200px ;
  }
}
.image {
  padding-left: 2%;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 400px;
  color: #909090;
}
.image .image2 {
  padding-top: 40px;
  width: 90%;
}
@media (max-width: 670px) {
  .image {
    min-height: 200px ;
  }
}
.music {
  background-color: #E44A4A;
  color: white;
  padding-left: 2%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.music audio {
  padding-top: 40px;
}
.footer {
  text-align: left ;
  position: relative ;
  padding-left: 2%;
  padding-top: 40px;
  padding-bottom: 100px;
  color: #909090;
}
.footer_content {
  position: absolute;
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  left: 2%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 40% ;
}
.footer_content .lables {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_content .lables .facebook {
  background: url(../img/facebook.png);
  height: 63px;
  width: 63px;
}
.footer_content .lables .twitter {
  background: url(../img/twitter.png);
  height: 63px;
  width: 63px;
}
.footer_content .lables .vk {
  background: url(../img/vk.png);
  height: 63px;
  width: 63px;
}
.footer_content .lables .other {
  background: url(../img/other.png);
  height: 63px;
  width: 63px;
}
