.text_post {
  padding-left: 2%;
  color: #909090;
}
.text_post_header {
  color: #747474;
  font-weight: bold;
  font-size: 30px;
}
.text_post_content {
  font-size: 20px;
}
@media (max-width: 670px) {
  .text_post_header {
    font-size: 20px;
  }
  .text_post_content {
    font-size: 15px;
  }
}
