.repeation{
    padding-top: 200px;
    padding-left: 2%;
    &_block {
        width: 90%;
        border: #B3B3B3 solid 2px;
    }
    .blockSingle{
        padding-bottom: 20px;
    }
    
    textarea{
        width: 98%;
    }

    .description {
        text-align: center;
        padding-bottom: 20px;
    }

    button.title {
        left: 0px;
        font-size: 20px;
        color: #191919;
        background: white;
        border-color: white;
        cursor: pointer;
    }

    button.remove{        
        left: 95%;
        font-size: 20px;
        color: #191919;
        background: white;
        border-color: white;
        cursor: pointer;
    }

    .container{
        margin-left: 0;
    }
}
