@fonts: "HelveticaNeue";

.text_post	{
	  font-family:@fonts;
		margin:0 auto;	
	.header {
  	color: #747474;
		font-weight: bold;  
		font-size: 30pt;
		display: inline-block;
	}
	.comments {
		color: #909090;
	}
	.content {
		color: #909090;
		font-size: 20px;	
	}
}
.button {
	width: 100px;
	border: 2px solid #747474;
	padding: 20px;
	li {
		list-style-type: none;
	}
	a {
		text-decoration: none;
		color: #747474;
	}
}
