<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>News</title>
	<link rel="stylesheet" href="css/header.css"> 
	<link rel="stylesheet" href="css/burger.css"> 
	<link rel="stylesheet" href="css/bootstrap.css"> 
	<link rel="stylesheet" href="css/news.css"> 
	<link rel="stylesheet" href="css/loginForm.css"> 

</head>
<body>
	
	<nav class="burger">
		<a href="#" class="burger__button" id="burger-button">
			<span class="burger__button__icon"></span>
		</a>
		<ul class="burger__menu">				
			<li><a href="index.html" titel="Home">Home</a></li>
			<li><a href="#" titel="Ask">Ask</a></li>
			<li><a href="angular.html" titel="Angular slider">Angular slider</a></li>
			<li><a href="#" titel="Contact">Contact</a></li>
			<li><a href="news.html" titel="News">News</a></li>
		</ul>
	</nav> 

	<div class="repeation">
		<div ng-controller="NewsCtrl">
			<h2>Total news: {{getTotalTodos()}}</h2>
			<ul class="unstyled">
				<li class="blockSingle" ng-repeat="new in news">
					<div class="repeation_block">


						<div class="container">
							<button type="button" class="title" data-toggle="modal" data-target="#myModal">{{new.text}}</button>

							<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4>{{new.text}}</h4>
										</div>
										<div class="modal-body">
											<label><b>{{new.description}}</b></label>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
							<p class="description">
								{{new.description}}
							</p>
								<button class="remove" ng-click="remove($index)">Remove</button>
						</div>
					</div>
				</li>
			</ul>
			<form class="form-horizontal1">
				<input type="text" ng-model="fromTodoTitle" ng-model-instant placeholder="Title">
			</form>
			<form class="form-horizontal2">
				<textarea type="text" ng-model="fromTodoDescription" ng-model-instant placeholder="Description"></textarea>
				<button class="btn" ng-click="addTodo()">Add</button>
			</form>

		</div>
	</div>





	<script src="js/libpopup.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/burger.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-modal-service.js"></script>
	<script src="js/new.js"></script>
</body>
</html>