<!DOCTYPE html>
<html lang="en" ng-app = "newsApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>News</title>
	<link rel="stylesheet" href="css/bootstrap.css"> 
	<link rel="stylesheet" href="css/newsStyle.css"> 

</head>
<body>
	
	<nav class="burger">
		<a href="#" class="burger__button" id="burger-button">
			<span class="burger__button__icon"></span>
		</a>
		<ul class="burger__menu">				
			<li><a href="index.html" titel="Home">Home</a></li>
			<li><a href="#" titel="Ask">Ask</a></li>
			<li><a href="angular.html" titel="Angular slider">Angular slider</a></li>
			<li><a href="#" titel="Contact">Contact</a></li>
			<li><a href="news.html" titel="News">News</a></li>
		</ul>
	</nav> 

	<div class="repeation">
		<div ng-controller="NewsCtrl">
			<h2>Total news: {{getTotalTodos()}}</h2>
			<ul class="unstyled">
				<li class="blockSingle" ng-repeat="new in news">
					<div class="repeation_block">

						<div class="routing">
							<a ui-ref="detailTitle" ui-sref-active="active">{{new.text}}</a>

							<ui-view></ui-view>
						</div>

						<p class="description">
							{{new.description}}
						</p>
						<button class="remove" ng-click="remove($index)">Remove</button>
					</div>
				</li>
			</ul>
			<form class="form-horizontal1">
				<input type="text" ng-model="fromTodoTitle" ng-model-instant placeholder="Title">
			</form>
			<form class="form-horizontal2">
				<textarea type="text" ng-model="fromTodoDescription" ng-model-instant placeholder="Description"></textarea>
				<button class="btn" ng-click="addTodo()">Add</button>
			</form>

		</div>
	</div>




	<script src="js/angular-ui-router.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/burger.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-modal-service.js"></script>
	<script src="js/new.js"></script>
</body>
</html>